{# 404.jinja2 #}

{% extends "base.jinja2" %}
{% block title %}{% trans %}error{% endtrans%} 401{% endblock %}
{% block stylesheet %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errors.css') }}">{% endblock %}
{% block basecontent %}
{{ super() }}
<div id="mainframe">
    <div id="mainerror">
        <p>{% trans %}error{% endtrans%} 401</p>
        <p>{% trans %}unauthorized{% endtrans%}</p>
    </div>
    <div id='errortext'>
        <p>{% trans %}You are not logged in,{% endtrans%}<br>{% trans %}or you do not have rights to navigate here.{% endtrans%}</p>
    </div>
    <div id="link">
        <p><a href="{{ url_for('index') }}"><svg><use href="#home"/></svg>{% trans %}rootindexpage{% endtrans%}</a></p>
    </div>
</div>
{% endblock %}