{# adduser.jinja2 #}

{% extends "layout.jinja2" %}
{% block title %}{% trans %}adduser{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/smallform.css') }}">{% endblock %}
{% block layoutcontent %}
{{ super() }}
<div class="smallformpage">
	<h2>{% trans %}adduser{% endtrans%}</h2>
	<form id="adduserform" class="smallform" method="POST" action="{{ url_for('addUser') }}" >
		<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
		{% for field in adduserform %}
		{{ render_field_div(field) }}
		{% endfor %}
	</form>
</div>
{% endblock %}