{# base.jinja2 #}

<!DOCTYPE html>
<html lang="cz">
  <head>
    <meta charset="UTF-8"> 
    <title>{% block title %}{% endblock %}</title>
    {% block favicon %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    {% block stylesheet %}{% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    {% block jscript %}{% endblock %}
  </head>
<body>
{% from "_formhelpers.jinja2" import render_modal_field, render_field_div, render_field_div_reversed %}
<svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" class="defs" style="display:None;">
<symbol id="plus" viewBox="0 0 1792 1792">
  <g>
  <path d="m1408 800v-192q0-40-28-68t-68-28h-416v-416q0-40-28-68t-68-28h-192q-40 0-68 28t-28 68v416h-416q-40 0-68 28t-28 68v192q0 40 28 68t68 28h416v416q0 40 28 68t68 28h192q40 0 68-28t28-68v-416h416q40 0 68-28t28-68z"/>
  </g>
</symbol>
<symbol id="minus" viewBox="0 0 1792 1792">
  <g>
  <path d="m1408 800v-192q0-40-28-68t-68-28h-1216q-40 0-68 28t-28 68v192q0 40 28 68t68 28h1216q40 0 68-28t28-68z"/>
  </g>
<symbol>
<symbol id="menu" viewBox="0 0 32 32">
  <g>
  <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/>
  </g>
</symbol>
<symbol id="AClogo" viewBox="0 0 100 48">
  <g fill="#09c">
  <path d="m0 10.878v-10.878h100v11h-100v-0.12204zm0 37v-10.878h100v11h-100v-0.12234zm99.288-26.586c-0.55886-0.73795-1.4079-1.1439-2.391-1.1439-1.8388 0-3.3785 1.0497-5.1494 3.509-1.5068 2.0937-3.382 4.6987-4.7553 4.6987-0.32944 0-0.57436-0.10773-0.74888-0.33021-0.42317-0.53866-0.41984-1.7301 0.011177-3.446 0.48847-1.9431 1.425-3.2999 2.2782-3.2999 0.61495 0 0.84144 0.34326 0.92281 0.55444-0.25355-0.017533-0.5318 0.061366-0.75417 0.22384-0.29375 0.21527-0.45533 0.55015-0.45533 0.94348 0 0.35183 0.12373 0.66821 0.34806 0.89127 0.21727 0.21585 0.51063 0.33001 0.84771 0.33001 0.85673 0 1.4558-0.70892 1.4558-1.7241 0-0.64561-0.24374-1.2577-0.6673-1.6789-0.46631-0.46229-1.1244-0.69724-1.9574-0.69724-2.0429 0-3.8405 1.7366-4.7304 2.7714-0.99929 1.1626-2.1421 2.3216-2.7037 2.8807 0.54377-1.7981 0.42533-3.4784-0.34238-4.5639-0.48906-0.69217-1.2158-1.073-2.0451-1.073-1.2605 0-2.0996 0.5634-2.5278 0.9501l0.2108-0.78062h-4.3042l-0.25767 1.0463h1.2007c-0.55788 1.8125-2.0851 3.4829-2.8132 4.2043 0.090203-0.28774 0.18433-0.69334 0.22747-1.2219 0.10962-1.3462-0.24041-2.5635-0.96164-3.3403-0.52161-0.56145-1.1942-0.85796-1.9456-0.85796-2.1519 0-4.0205 1.2967-5.5534 3.8542l-0.46278 0.79269c-0.99203 1.7212-2.0182 3.5006-3.6824 3.5006-0.45729 0-0.82575-0.17884-1.0954-0.53262-0.68593-0.89906-0.72162-2.9249-0.090791-5.1625 0.79555-2.8207 2.5002-5.6761 4.2201-5.6761 0.29041 0 0.52965 0.11065 0.73221 0.338 0.66005 0.74068 0.69456 2.5178 0.60887 3.2144l-0.016472 0.13306h1.2542l1.3123-4.7353h-1.1979l-0.035689 0.048508-0.48964 0.66665c-0.27865-0.3306-1.1517-1.1402-3.0243-1.1402-2.1358 0-5.8877 2.2766-7.1558 7.1635-0.61436 2.3668-0.34669 4.4482 0.75417 5.8592 0.78555 1.0072 1.9437 1.5844 3.1787 1.5844 2.0898 0 3.9536-1.579 4.7455-2.8217 0.12275 0.85094 0.67181 2.8223 3.1179 2.8223 2.1937 0 4.7586-1.6506 7.437-4.7782l-2.0725 8.0653h3.1006l1.0211-4.1567c0.2561 0.32826 0.8532 0.86964 2.0239 0.86964 1.656 0 4.4068-1.8864 6.7897-4.6291-0.32826 1.3688-0.1406 2.6015 0.53788 3.4955 0.54592 0.71866 1.3548 1.1303 2.22 1.1303 2.8763 0 4.8894-2.3896 5.5692-3.329-0.013726 0.87101 0.27022 1.6921 0.80888 2.3025 0.58436 0.66236 1.4281 1.0265 2.3759 1.0265 2.522 0 4.7233-1.7461 5.4771-4.3443 0.52514-1.8081 0.38238-3.3728-0.40023-4.4069zm-31.562 4.0295c-0.41748 1.6158-1.3615 3.5027-2.6463 3.5027-0.29375 0-0.50886-0.095069-0.65672-0.28988-0.40493-0.5332-0.31944-1.818 0.25472-3.8201 0.64613-2.2534 1.4178-3.3488 2.3596-3.3488 0.23943 0 0.43023 0.095848 0.58455 0.293 0.46474 0.59574 0.50749 2.1022 0.10413 3.6631zm10.057 0.053963c-0.49553 2.1005-1.3413 3.3052-2.3196 3.3052-0.76417 0-1.1109-0.71477-1.1785-0.87374 0.070986-0.30293 0.57063-2.4377 0.82143-3.4223 0.39042-1.5363 1.2866-2.6947 2.0831-2.6947 0.241 0 0.43748 0.092146 0.58161 0.27371 0.28786 0.3604 0.52337 1.2447 0.011962 3.4118zm19.796-0.053963c-0.41768 1.6158-1.3611 3.5027-2.6463 3.5027-0.29336 0-0.50827-0.095069-0.65691-0.28988-0.40474-0.5332-0.31904-1.818 0.25512-3.8201 0.64613-2.2534 1.4176-3.3488 2.36-3.3488 0.23884 0 0.42964 0.095848 0.58436 0.293 0.46474 0.59574 0.50749 2.1022 0.10373 3.6631zm-49.797-1.9553c0.21376 0.21298 0.49871 0.32535 0.82484 0.32535 0.58833 0 1.2173-0.36861 1.2173-1.404 0-0.51465-0.19278-0.97898-0.55793-1.3431-0.53146-0.53129-1.3941-0.82355-2.4292-0.82355-2.0721 0-3.5074 0.84411-4.0409 2.3761-0.39654 1.1385 0.21239 2.3536 1.714 3.4218l0.20454 0.14525c0.87289 0.61546 1.3992 0.98701 1.2663 1.7769-0.1061 0.6276-0.78562 1.078-1.6171 1.0708-1.2724-0.011746-1.4824-0.67047-1.5167-0.89735 0.22553-0.1016 0.79621-0.42812 0.79621-1.1389 0-0.33768-0.10355-0.61292-0.30868-0.81748-0.31476-0.3138-0.75326-0.34767-0.92741-0.34767-0.40889 0-1.1119 0.14408-1.2259 1.1135-0.016277 0.13762-0.0011767 0.29227 0.0082366 0.36822-0.09531 0.1386-0.49636 0.66714-1.1506 0.87406-0.14924 0.047569-0.3683 0.028776-0.52244-0.1198-0.20748-0.20085-0.24514-0.58395-0.1061-1.0798 0.1414-0.50192 1.6501-6.5957 1.6501-6.5957h-3.0646l-0.23278 0.83354c-0.23612-0.38153-0.82131-0.98349-2.1645-0.98349-2.0613 0-3.8 2.0126-4.6635 3.7355-0.72463 1.448-2.0752 4.1424-3.1223 4.1424-0.11198 0-0.1965-0.038173-0.2571-0.11687-0.11257-0.14643-0.25122-0.57886 0.085112-1.8311 0.27534-1.0271 2.4677-10.005 2.4677-10.005h-5.2299l-0.2822 1.2298h1.9642l-1.3547 5.4149c-0.99938 3.9181-2.7442 5.3082-3.935 5.3082-0.24926 0-0.42595-0.068711-0.53911-0.21005-0.31946-0.39817-0.10708-1.3421 0.047655-2.032 0.2169-0.96313 0.90662-3.7388 1.0347-4.2548h2.1664l0.31554-1.2519h-2.1535l0.7462-3.044-1.1759-3.915e-4 -0.035692 0.053246c-1.5467 2.3188-2.241 3.0685-4.5541 3.0685h-0.093545l-0.28848 1.173h1.8525c-0.080797 0.38564-0.29573 1.4165-0.29456 1.4116-1.0223 3.8474-2.9772 5.4446-3.7973 5.4446-0.40281 0-0.62677-0.067536-0.74895-0.22571-0.20219-0.26232-0.17591-0.83902 0.082366-1.8162 0.46772-1.7646 2.448-8.8297 2.6869-9.682h1.9742l0.36104-1.1839-4.2073-0.0099836c-1.5128 0-3.2939 0.12763-5.0361 1.0737-2.1794 1.1841-3.7553 3.4025-4.6855 6.597-0.0058833 0.022708-0.58127 2.2857-1.0937 3.9694-0.54126 1.7763-1.9691 1.9681-2.5583 1.9681-0.36614 0-0.75797-0.17794-1.0733-0.48802l-0.20376-0.19909v1.5978l0.09178 0.021533c0.54715 0.13096 1.199 0.19635 1.9372 0.19635 2.0239 0 3.821-1.4596 4.7443-2.7109 0.75287-1.0181 1.0019-1.9263 1.3781-3.3017l0.083151-0.30499h3.0436c-0.12943 0.43478-0.51185 1.7295-0.84622 2.9573-0.28612 1.0516-0.21258 1.8705 0.21906 2.4335 0.42477 0.55458 1.1873 0.83569 2.267 0.83569 1.0939 0 3.0701-0.2678 4.4121-1.9807 0.032554 0.41794 0.1614 0.96215 0.56382 1.3779 0.3834 0.39543 0.94074 0.59608 1.6563 0.59608 1.6618 0 3.541-1.0865 4.4535-2.1948 0.020788 0.42127 0.12982 1.1156 0.58794 1.6148 0.35359 0.38486 0.8472 0.58003 1.4677 0.58003 1.8546 0 3.5541-1.4817 4.3274-2.6856 0.13336 0.80143 0.68227 2.6856 2.9158 2.6856 1.4291 0 2.4859-0.90049 3.0654-1.5543 0.12237 0.49742 0.53264 1.5543 1.8289 1.5543 1.3679 0 2.7363-0.91497 3.3651-1.6297 0.58264 1.1256 1.2388 1.6297 3.4676 1.6297 2.1141 0 3.8618-1.4384 4.1675-2.7811 0.33084-1.4545-0.47165-2.0445-1.8013-3.0229l-0.16101-0.11863-0.27475-0.1985c-0.65638-0.47236-1.2243-0.87974-1.2243-1.5796 0-0.75993 0.61755-1.1 1.2294-1.1 0.50675 0 0.78503 0.19928 0.90426 0.3138-0.15159 0.14369-0.42281 0.46473-0.42281 0.92946 0 0.32887 0.11924 0.62936 0.33594 0.84567zm-36.155-0.78636h-3.0793c1.1949-4.0492 2.6185-5.8373 4.7184-5.9232l-1.6391 5.9232zm25.159 2.2138c-0.6052 2.3201-1.3253 3.3545-2.3339 3.3545-0.22455 0-0.40105-0.088287-0.54087-0.27015-0.43909-0.57494-0.42262-1.9869 0.044321-3.6826 0.65344-2.3759 1.4808-2.6964 2.2043-2.6964 0.22043 0 0.40752 0.097096 0.55558 0.28816 0.40654 0.52522 0.43262 1.6211 0.0706 3.0064z"/>
  </g>
</symbol>
<symbol id="home" viewBox="0 0 24 24">
  <g>
  <path d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 10 21 L 10 14 L 14 14 L 14 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z"/>
  </g>
</symbol>
<symbol id="winner" viewBox="0 0 380 380">
  <g>
  <path d="m341.15 125.01c2.725-2.671 3.354-6.824 1.541-10.182l-59.601-110.34c-1.489-2.766-4.383-4.491-7.53-4.491h-171.12c-3.148 0-6.041 1.726-7.531 4.491l-59.602 110.34c-1.813 3.357-1.184 7.511 1.541 10.182l59.391 58.151c-17.515 20.844-28.085 47.706-28.085 76.992 0 66.085 53.765 119.84 119.84 119.84s119.84-53.759 119.84-119.84c0-29.286-10.566-56.148-28.084-76.992h3e-3l59.389-58.151zm-205.91 28.561-46.313-46.05 35.418-65.577h131.3l35.418 65.577-46.317 46.05c-16.421-8.471-35.037-13.26-54.752-13.26-19.719 0-38.335 4.79-54.759 13.26zm54.756 191.05c-46.575 0-84.466-37.892-84.466-84.464 0-46.574 37.891-84.462 84.466-84.462s84.464 37.888 84.464 84.462c2e-3 46.573-37.889 84.464-84.464 84.464z"/>
  <path d="m210.97 291.26h-8.771v-77.874c0-2.294-1.862-4.157-4.153-4.157h-11.438c-0.955 0-1.869 0.322-2.603 0.914l-17.575 14.177c-0.98 0.788-1.551 1.98-1.551 3.229v6.34c0 2.296 1.861 4.156 4.151 4.156h7.884v53.217h-7.715c-2.29 0-4.154 1.854-4.154 4.154v11.523c0 2.291 1.864 4.155 4.154 4.155h41.771c2.288 0 4.146-1.864 4.146-4.155v-11.525c1e-3 -2.301-1.858-4.154-4.146-4.154z"/>
  </g>
</symbol>
<symbol id="winner1" viewBox="0 0 512 512">
  <g>
  <path d="M348.16,179.2L409.6,0H307.2L256,145.92L204.8,0H102.4l61.44,179.2c-51.2,30.72-87.04,87.04-87.04,153.6
	C76.8,432.64,156.16,512,256,512s179.2-79.36,179.2-179.2C435.2,266.24,399.36,209.92,348.16,179.2z M307.2,435.2H204.8
	c-15.36,0-25.6-10.24-25.6-25.6c0-15.36,10.24-25.6,25.6-25.6h25.6v-66.56l-7.68,7.68c-10.24,10.24-25.6,10.24-35.84,0
	s-10.24-25.6,0-35.84l51.2-51.2c7.68-7.68,17.92-10.24,28.16-5.12c10.24,5.12,15.36,12.8,15.36,23.04v128h25.6
	c15.36,0,25.6,10.24,25.6,25.6C332.8,424.96,322.56,435.2,307.2,435.2z"/>
  </g>
</symbol>
<symbol id="cancel" viewBox="0 0 297 297">
  <g>
  <path d="M293.805,219.495l-71.019-71.003l70.998-71.015c4.258-4.259,4.256-11.163-0.002-15.422L234.921,3.194 C232.875,1.149,230.101,0,227.209,0c-2.893,0-5.667,1.15-7.712,3.196l-70.999,71.025L77.477,3.219 c-4.26-4.258-11.162-4.257-15.422,0.001L3.194,62.081C1.149,64.127,0,66.901,0,69.794c0,2.893,1.15,5.666,3.196,7.711l71.035,71.01 L3.248,219.525c-4.257,4.258-4.257,11.16,0,15.419l58.834,58.859c2.045,2.046,4.819,3.196,7.712,3.196h0.001 c2.893,0,5.667-1.149,7.712-3.195l71.013-71.029l71.005,70.979c4.258,4.258,11.161,4.258,15.419,0l58.86-58.834 c2.046-2.045,3.196-4.819,3.196-7.713C297,224.315,295.851,221.541,293.805,219.495z"/>
  </g>
</symbol>
<symbol id="cancel1" viewBox="0 0 330 330">
  <g>
  <path d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165c90.982,0,165-74.019,165-165S255.982,0,165,0z M165,300 c-74.439,0-135-60.561-135-135S90.561,30,165,30c74.439,0,135,60.561,135,135S239.439,300,165,300z"/>
  <path d="M239.247,90.754c-5.857-5.858-15.355-5.858-21.213,0l-53.033,53.033l-53.033-53.033c-5.857-5.858-15.355-5.858-21.213,0 c-5.858,5.858-5.858,15.355,0,21.213L143.788,165l-53.033,53.033c-5.858,5.858-5.858,15.355,0,21.213 c2.929,2.929,6.768,4.394,10.606,4.394c3.839,0,7.678-1.464,10.606-4.394l53.033-53.033l53.033,53.033 c2.929,2.929,6.768,4.394,10.606,4.394c3.839,0,7.678-1.464,10.607-4.394c5.858-5.858,5.858-15.355,0-21.213L186.214,165 l53.033-53.033C245.105,106.109,245.105,96.612,239.247,90.754z"/>
</g>
</symbol>
<symbol id="cancel2" viewBox="0 0 47.095 47.095">
  <g>
  <path d="M45.363,36.234l-13.158-13.16l12.21-12.21c2.31-2.307,2.31-6.049,0-8.358c-2.308-2.308-6.05-2.307-8.356,0l-12.212,12.21 L11.038,1.906c-2.309-2.308-6.051-2.308-8.358,0c-2.307,2.309-2.307,6.049,0,8.358l12.81,12.81L1.732,36.831 c-2.309,2.31-2.309,6.05,0,8.359c2.308,2.307,6.049,2.307,8.356,0l13.759-13.758l13.16,13.16c2.308,2.308,6.049,2.308,8.356,0 C47.673,42.282,47.672,38.54,45.363,36.234z"/>
  </g>
</symbol>
<symbol id="cancel4" viewBox="0 0 512 512">
	 
  <g>
  <path d="M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256S397.385,0,256,0z M384,283.429H128v-54.857 h256V283.429z"/>
  </g>
</symbol>
<symbol id="approve" viewBox="0 0 173.309 173.309">
  <g>
  <path d="M173.295,59.534c-0.001-4.142-3.358-7.499-7.5-7.499h-57.784l8.781-34.368c0.573-2.244,0.077-4.627-1.343-6.457 c-1.421-1.83-3.607-2.9-5.924-2.9H74.73c-3.427,0-6.417,2.322-7.266,5.642l-9.735,38.06L7.497,52.036 C3.355,52.038,0,55.395,0,59.536v83.849c0,4.142,3.357,7.5,7.5,7.5h40.154l26.668,13.322c1.041,0.52,2.188,0.791,3.351,0.791h78.951 c4.143,0,7.5-3.358,7.5-7.5V140.51h1.684c1.989,0,3.898-0.791,5.304-2.197c1.406-1.407,2.196-3.315,2.196-5.304L173.295,59.534z M123.727,125.51c-4.143,0-7.5,3.358-7.5,7.5c0,4.142,3.357,7.5,7.5,7.5h25.398v9.487H79.443l-26.668-13.322 c-1.041-0.52-2.188-0.79-3.352-0.79H15V67.032l48.556-0.022c3.426-0.002,6.414-2.323,7.263-5.642l9.735-38.058h19.314l-8.781,34.368 c-0.573,2.244-0.077,4.627,1.343,6.456c1.421,1.83,3.607,2.9,5.924,2.9h59.942l0.002,9.473H123.74c-4.142,0-7.5,3.358-7.5,7.5 s3.358,7.5,7.5,7.5h34.561l0.002,9.503H123.74c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h34.565l0.002,9.499H123.727z"/>
  <g>
</symbol>
<symbol id="view" viewBox="0 0 80.794 80.794">
  <g>
  <path d="M79.351,38.549c-0.706-0.903-17.529-22.119-38.953-22.119c-21.426,0-38.249,21.216-38.955,22.119L0,40.396l1.443,1.847 c0.706,0.903,17.529,22.12,38.955,22.12c21.424,0,38.247-21.217,38.953-22.12l1.443-1.847L79.351,38.549z M40.398,58.364 c-15.068,0-28.22-13.046-32.643-17.967c4.425-4.922,17.576-17.966,32.643-17.966c15.066,0,28.218,13.045,32.642,17.966 C68.614,45.319,55.463,58.364,40.398,58.364z"/>
  <path d="M40.397,23.983c-9.052,0-16.416,7.363-16.416,16.414c0,9.053,7.364,16.417,16.416,16.417s16.416-7.364,16.416-16.417 C56.813,31.346,49.449,23.983,40.397,23.983z M40.397,50.813c-5.744,0-10.416-4.673-10.416-10.417 c0-5.742,4.672-10.414,10.416-10.414c5.743,0,10.416,4.672,10.416,10.414C50.813,46.14,46.14,50.813,40.397,50.813z"/>
  </g>
</symbol>
<symbol id="view1" viewBox="0 0 512.011 512.011">
  <g>
  <path d="M505.755,240.92l-89.088-89.088c-88.576-88.597-232.747-88.597-321.323,0L6.256,240.92 c-8.341,8.341-8.341,21.824,0,30.165l89.088,89.088c44.288,44.288,102.464,66.453,160.661,66.453s116.373-22.165,160.661-66.453 l89.088-89.088C514.096,262.744,514.096,249.261,505.755,240.92z M256.005,362.669c-58.816,0-106.667-47.851-106.667-106.667 s47.851-106.667,106.667-106.667s106.667,47.851,106.667,106.667S314.821,362.669,256.005,362.669z"/>
  <path d="M256.005,192.003c-35.285,0-64,28.715-64,64s28.715,64,64,64s64-28.715,64-64S291.291,192.003,256.005,192.003z"/>
  </g>
</symbol>
</svg>
{% block basecontent %}{% endblock %}
</body>
</html>