{# index.jinja2 #}

{% extends "layout.jinja2" %}
{% block title %}{% trans %}lutinapps{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">{% endblock %}
{% block layoutcontent %}
{{ super() }}
<h2>{% trans %}welcometolutinapps{% endtrans%}</h2>
{% endblock %}