{# layout.jinja2 #}

{% extends "base.jinja2" %}
{% block stylesheet %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">{% endblock %}
{% block jscript %}<script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>{% endblock %}
{% block basecontent %}
<div id="topbar">
  <a href="{{ url_for('index') }}"><svg class="layout"><use href="#AClogo"/></svg></a>    
  <ul class="layout">
  <li><a id="cs" onclick="langswitch(this.id)" href="javascript:void(0);">cs</a></li>
  <li><a id="en" onclick="langswitch(this.id)" href="javascript:void(0);">en</a></li>
  </ul>
</div>
<div id="userbar">
  <ul>
  {% if current_user.is_authenticated %}
    <li>{{ current_user.name }} {{ current_user.surname }}</li>
    <li><a href="{{ url_for('logout') }}">{% trans %}logout{% endtrans%}</a></li>
    <li><a href="{{ url_for('passChange') }}">{% trans %}changepassword{% endtrans%}</a></li>
  {% else %}
    <li><a href="#" onclick="showModal('openModalLogin','loginform');">{% trans %}login{% endtrans%}</a></li>
  {% endif %}
    <li><a href="{{ url_for('addUser') }}">{% trans %}adduser{% endtrans%}</a></li>
  </ul>
</div>
<div id="appbar">
  <ul>
      <li><a href="{{ url_for('index') }}">{% trans %}home{% endtrans%}</a></li>
      <li><a href="{{ url_for('observation.observation') }}">{% trans %}observation{% endtrans%}</a></li>
      <li><a href="{{ url_for('transportorder.order') }}">{% trans %}transportrfq{% endtrans%}</a></li>
  </ul>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                <span>{{ message }}</span>
                <a href="" onclick="#" class="closex">X</a>  
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>

{% block layoutcontent %}{% endblock %}

<div id="openModalLogin" class="modalDialog">
	<div>
		<div class="formpage">
			<h2>{% trans %}userlogin{% endtrans%}</h2>
			<form id="loginform" method="POST" action="{{ url_for('login') }}">
      		<input form="loginform" type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          <input type="reset" form="loginform" value="X" class="close" onclick="closeModal('openModalLogin','loginform');">
          {% for field in loginform %}
          {{ render_field_div(field) }}
          {% endfor %}
			</form>
		</div>
</div>		
</div>
{% endblock %}