html {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#mainframe {
    position: absolute;
    color: #09c;    
    height:100%;
    width: 100%;
}
#mainerror {
    margin-left: 39%; 
    margin-top: 17%;
}

#mainerror p {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-weight: 900;
}

#errortext {
    margin: 0;
    padding: 0;
    margin-left: 39%;
    font-size: 1.2em;
}

#link {
    padding: 0;
    margin-left: 39%;
    justify-content: top;
}

#link svg {
    display: inline;
    fill: #09c;
    height: 32px;
    width: 32px;
    padding-right: 15px;
    vertical-align: bottom;
}

#link a {    
    text-decoration: none;
    font-weight: light;
    font-size: 1.5em;
    text-transform: uppercase;
}

#link a:visited {
    color: #09c;
}

#link a:hover, #link a:active, #link a:focus,
#link:hover svg, #link:active svg,#link:focus svg {
    color: red;
    fill: red;
}

#link p {
    vertical-align: bottom;
}

