html {
    margin: 0px;
    padding: 0px;
}

body {
    width: 1300px;
    margin: 0 auto;
    background-color: white;
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
}

div#topbar {
  position: relative;
  margin: 0px;
  padding: 0px;  
}

div#userbar {
  margin: 0px;
  padding: 0px;
  height: 17px;
  padding-bottom: 4px;
  border-bottom: solid 1px black;
}

div#appbar {
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 17px;
  padding-bottom: 6px;
  border-bottom: solid 1px black;
}

div.alert {
  clear: both;
  margin: 0px;
  padding: 4px;
  font-weight: bold;
  font-size: 0.8em;
}

div.alert-info {
  background-color: #e6fffa;
  color: #004d3d;
}

div.alert-warning {
  background-color: #ffffcc;
  color: #666600;
}

div.alert-error {
  background-color: #ffe6e6;
  color: red;
}

div.alert a {
  text-decoration: none;
  margin-left: 10px;
}

svg {
	margin: 0;
	padding: 0;
}

svg.layout {
  margin-top: 10px;
  margin-left: 10px;
  height: 48px;
  width: 100px;
}

ul.layout, #userbar > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.layout {
  position: absolute;
  top: 10px;
  right: 10px;
}

#userbar > ul {
  float: right;
  line-height: 1em;
}

#appbar > ul {
  margin: 0px 0px 0px 0px;
  padding: 0;
  list-style-type: none;
}

ul.layout li,  #userbar > ul > li, #appbar > ul > li {
  display: inline-block;
}

ul.layout li a, #userbar > ul > li > a, #appbar > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  color: #09c;
  outline: none;
}

ul.layout li a.selected {
    color: red;
}

#userbar > ul > li > a, #appbar > ul > li > a {
  padding: 0px 5px;
  font-size: 0.8em;;
}

#userbar li::after, #appbar li::after {
  content: " | ";
}

#userbar li+li:last-child:after, #appbar li+li:last-child:after {
  content: "";
}

ul.layout li a:hover, #userbar > ul > li > a:hover, #appbar > ul > li > a:hover,
ul.layout li a:focus, #userbar > ul > li > a:focus, #appbar > ul > li > a:focus  {
	font-weight: bold;
	color: orange;
}

/*-----------------------------modal dialog--------------------------------*/
.modalDialog:target {
	opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	height: auto;
	position: relative;
	margin: 5% auto;
    padding: 0;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: gray;
	/*background: -moz-linear-gradient(#999, #fff);
	background: -webkit-linear-gradient(#999, #fff);
    background: -o-linear-gradient(#999, #fff);*/
}

.modalDialog {
	position: fixed;
	font-family: Verdana, Arial, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;	
}

input.close {
	background-color: #606061;
	color: #FFFFFF;
	position: absolute;
	right: -12px;
	top: -13px;
    width: 24px;
    height: 24px;
    padding: 0 0 0 1px;
    font-size: 16px;
	font-weight: bold;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: red; }

.modalDialog {
    display: none;
}

.formpage {
  position: relative;
  z-index: 1;
  /*background: #FFFFFF;*/
  max-width: 360px;  
  padding: 35px;
  text-align: center;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}

.formpage h2 {
    margin: 0px 0px 40px 0px;
    padding: 0px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 20px;
    color: black;
}

.formpage input[type=text], .formpage input[type=password], .formpage input[type=email], .formpage select {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0px 0px 25px 0px;
  padding: 6px;
  box-sizing: border-box;
  font-size: 0.9em;
}

.formpage input[type=checkbox] {
    margin-bottom: 10px;
    box-sizing: border-box;
}

.formpage input[type=submit], .formpage input[type=button] {
  text-transform: uppercase;
  outline: 0;
  background: #09c;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  /*-webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;*/
  cursor: pointer;
}

.formpage > form > div {
  position: relative;
}

.formpage > form label {
  position: absolute;
  top: -24px;
  left: 2px;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  padding-right: 2%;
  line-height: 25px;
}

.formpage > form input[type=checkbox] + label {
    top: -3px;
}

.formpage input[type=text].required + label::after {
  content: " * :";
}

.formpage button:hover, .formpage button:active, .formpage button:focus,
.formpage input[type=submit]:hover, .formpage input[type=submit]:active, .formpage input[type=submit]:focus {
  background: orange;
}
/*-----------------------------modal dialog end----------------------------*/
input[type=submit].commonSubmit, input[type=button].commonSubmit, input[type=reset].commonReset {
  margin: 0;
  text-transform: capitalize;
  outline: 0;
  background: #09c;
  border: 0;
  padding: 7px;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow:    inset 0px 0px 5px #004d66;
  -webkit-box-shadow: inset 0px 0px 5px #004d66;
  box-shadow:         inset 0px 0px 5px #004d66;
}

input[type=submit].commonSubmit:active, #transport input[type=reset]:active, input[type=button].commonSubmit:active {
  box-shadow: none;
}

input[type=submit].commonSubmit:hover, input[type=submit].commonSubmit:focus, 
input[type=button].commonSubmit:hover, input[type=button].commonSubmit:focus,
#transport input[type=reset]:hover, #transport input[type=reset]:focus {
  background: orange;
  -moz-box-shadow:    inset 0px 0px 5px #996300;
  -webkit-box-shadow: inset 0px 0px 5px #996300;
  box-shadow:         inset 0px 0px 5px #996300 ;
}

ul.errors {
    position: relative;
  }
  
ul.errors > li {
    list-style-type: none;
    font-size: 0.7em;
    font-weight: bold;
    color: red;
  }