.smallformpage {
  width: 100%;
}

.smallformpage h2 {  
    font-size: 2em;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5%;
}

form.smallform {
  margin: 0 auto;
  width: 40%;
}

.smallform label::after {
  content: ":";
}

.smallform input[type=text].required + label::after {
  content: " * :";
}

.smallformpage input[type=text], .smallformpage input[type=password], .smallformpage input[type=email] {
  outline: 0;
  width: 100%;
  border: solid 1px lightblue;
  margin: 0px 0px 30px 0px;
  padding: 4px;
  font-size: 0.9em;
}

.smallformpage input[type=text]:focus, .smallformpage input[type=password]:focus, .smallformpage input[type=email]:focus {
  border: solid 1px orange;
}

.smallformpage input[type=submit], .smallformpage input[type=button] {
  width: 40%;
}

.smallform > div {
  position: relative;
}

.smallform label {
  position: absolute;
  top: -20px;
  left: 10px;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  padding-right: 2%;
  line-height: 25px;
}

ul.errors {
  top: -40px;
  left: -30px;
}
