
td:nth-child(1) {
	font-weight: bold;
}

td:nth-child(2), td:nth-child(4), td:nth-child(6) {
	text-align: left;
}

tr.tablebody:hover {
	background-color: #ffffcc;
	cursor: pointer;
}

svg {
    width: 24px;
    height: 24px;
    fill: #09c;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 5px;
}

svg:hover, svg:active, svg:focus {
    fill: orange;
    cursor: pointer;
}