.col1 {
	width: 4%;
}

.col2 {
	width: 36%;
}

.col3 {
	width: 40%;
}

.col4, .col5  {
	width: 10%;
}

td:nth-child(2), td:nth-child(3) {
	text-align: left;
}

svg {
    width: 24px;
    height: 24px;
    fill: #09c;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 5px;
}

svg:hover, svg:active, svg:focus {
    fill: orange;
    cursor: pointer;
}