html, body {
    height: 100%;
}

header#sideBar {
    width: 0%;
    height: 100%;
    margin-left: 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;    
    background-color: #2B2B2B;
    color: #CCCCCC;
}

header svg {
    width: 32px;
    height: 32px;
    fill: #808080;        
}

header a {
    outline: 0;
}

header svg:hover, header svg:active, header svg:focus {
    fill: black;
}

header#sideBar h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    word-wrap: normal;
    width: 100%;
    margin: 0px;    
    padding: 30% 0%;
    /*border-bottom: 1px solid #3d3d3d;*/
    border-bottom: 1px solid #252525;
}

header#sideBar nav {    
    margin: 0px;
    padding: 0px;
}

ul#mainMenu {
    padding: 10% 0%;
    margin: 0px;
    width: 87%;
    min-height: 100%;
    display: none;
}

ul#mainMenu li {    
    list-style: none;
    background-color: #303030;    
    clear: both;
}

ul#mainMenu li a {
    transition: 0.3s;
    display: block;
    float: left;
    width: 100%;
    text-align: left;
    text-decoration: none;    
    padding: 4% 0% 4% 15%;
    font-size: 16px;
    color: lightgrey;
}

ul#mainMenu li.current a, li.current {
    color: white;
    font-weight: bold;
    fill: #03cc85;
}

ul#mainMenu li:hover a {
    background-color: #363636;
    color: white;
    fill: white;
    transition: 0.3s
}

#adduserform label{
    display: none;
}

form label::after {
	content: ":";
}


table {
	table-layout: fixed;
	width: 100%;
	margin-top: 2%;
}

caption {
	margin: 10px 0;
	font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

/*all tables layout*/
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 3px 5px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
}

th {
    font-size: 0.6em;
	color: white;
	background-color: #004d66;
}

td {
	font-size: 0.7em;
}

tr:nth-child(even) {
	background-color: #fff;
}

tr:nth-child(odd) {
	background-color: #e6f9ff;
}

textarea#cancelationReason {
    width: 99.5%;
    resize: none;
    padding-bottom: 15px;
}