.col1 {
	width: 4%;
}

.col2, .col4, .col5, .col9 {
	width: 8%;
}

.col3 {
	width: 7%;
}

.col6 {
	width: 15%;
}

.col7 {
    width: auto;
}

.col8 {
	width: 7%;
}

.col10 {
	width: 8%;
}

td:nth-child(1) {
	font-weight: bold;
}

td:nth-child(6), td:nth-child(7) {
	text-align: left;
}

a.orderlist {
    position: relative;
    z-index: 2;
}

svg {
    height: 20px;
    width: 20px;
    fill: #09c;
}

svg:nth-child(1) {
    margin-right: 5px;
}

svg.orderlistsvg:hover, svg.orderlistsvg:active, svg.orderlistsvg:focus {
    fill: orange;
    cursor: pointer;
}

dl {
    margin: 0;
    padding: 0;
    width: 450px;
    height: 840px;
}

dt {
    font-size: 0.7em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 3px;
    padding: 0;
}

dd {
    font-size: 0.8em;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 2px;
    background-color: lightgrey;
}

dd + th {
    font-size: 0.7em;
}

#viewtable caption {
    font-size: 0.7em;
    text-align: left;
}

table#viewtable {
    position: relative;
    width: 450px;
    top: -855px;
    left: 480px;
}

.overview > div {
    width: 1000px;
    height: 850px;
}

.overview input.close {
    right: -583px;
}

textarea#choiceReason {
    width: 99.4%;
    resize: none;
    padding-bottom: 15px;
}