h2.h2header {
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
    margin-top: 2%;
    text-transform: uppercase;
}

form#transport {
    margin-top: 20px;
}

form ul li {
    list-style: none;
}

#transport label {
    display: block;
    width: 100%;
    font-size: 11px;
    margin: 0;
    padding: 0;
    outline: 0;
}

#transport input[type=text], #transport select {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 1px solid lightgray;
    margin: 0 0 10px 0;
    padding: 2px;
    box-sizing: border-box;
    font-size: 14px;
}

#transport input[type=submit] {
    margin-top: 10px;
    width: 25%;
}

#transport input[type=text]:focus, #transport input[type=password]:focus, 
#transport input[type=email]:focus, #transport select:focus {
      border: solid 1px orange;
}

#pickupplace, #deliveryplace, #orderitems, #orderheader {
    border-color: #f2f2f2;
}

#pickupplace {
    float: left;
    width: 47%;
}

#pickupplace textarea, #deliveryplace textarea {
    margin: 0px 0px 10px 0px;
    padding: 0;
    width: 90%;
    border-width: 0;
    background-color: white;
    resize: none;
    color: black;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    overflow: hidden;
}

textarea#pickupPlaceInfo, textarea#deliveryPlaceInfo {
    height: 10em;
}

textarea#pickupPlaceContactInfo, textarea#deliveryPlaceContactInfo {
    height: 2em;
}

#deliveryplace {
    float: right;
    width: 47%;
}

#orderitems {
    clear: both;
    margin-bottom:10px;
}

textarea#orderNotes {
    width: 99.4%;
    height: 70px;
    resize: vertical;
    border-color: #f2f2f2;
    border-style: ridge;
    border-width: 2px;
} 

#orderitems svg {
    width: 24px;
    height: 24px;
    fill: #09c;
}

#tableofitems svg{
    height: 16px;
    padding-top: 5px;
}

#orderitems svg:hover, #orderitems svg:active, #orderitems svg:focus {
    fill: orange;
    cursor: pointer;
}

table#tableofitems {
	table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

table#tableofitems, #tableofitems th, #tableofitems td {
	border: 1px solid black;
	border-collapse: collapse;
}

#tableofitems input[type=Text] {
    margin: 0;
    padding: 0 0 0 4px;
    background-color: white;
    color: black;
    border: none;
}

th {
	font-family: sans-serif;
	padding: 3px 5px;
	text-align: center;
	text-overflow: ellipsis;
	word-wrap: break-word;
}

td {
    font-size: 0.7em;
    padding: 0;
    text-align: center;
    vertical-align: center;
}
.col1 { width: 52%; }
.col2, .col3, .col4, .col5, .col6, .col7 {	width: 6%; }
.col8 {	width: 7%; }
.col9 {	width: 5%; }

td:nth-child(2) input, td:nth-child(3) input, td:nth-child(4) input, td:nth-child(5) input, td:nth-child(6) input, td:nth-child(7) input, td:nth-child(8) input, td:nth-child(9) {
	text-align: center;
}

th {
	font-size: 0.7em;
	color: black;
	background-color: lightgrey;
}

tr.tablebody:hover {
	background-color: #ffffcc;
	cursor: pointer;
}

tr:nth-child(odd) {
	background-color: #fff;
}

ul.errors {
    top: -10px;
    left: 0px;
    margin: 0;
    padding: 0;
}