.col1 {
	width: 3%;
}

.col3 {
	width: 7%;
}

.col2, .col8, .col9, .col10 {
	width: 6%;
}

.col4 {
    width: 10%;
}

.col6 {
    width: 5%;
}

.col7 {
	width: 7%;
}

td:nth-child(1) {
	font-weight: bold;
}

td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
	text-align: left;
}

td:nth-child(7){
	text-align: right;
}

tr.tablebody:hover {
	background-color: #ffffcc;
	cursor: pointer;
}

dl {
    margin: 0;
    padding: 0;
    width: 450px;
    height: 840px;
}

dt {
    font-size: 0.7em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 3px;
    padding: 0;
}

dd {
    font-size: 0.8em;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 2px;
    background-color: lightgrey;
}

dd + th {
    font-size: 0.7em;
}

#viewtable caption {
    font-size: 0.7em;
    text-align: left;
}

#openModalViewOrder h2 {
    display: none;
}

table#viewtable {
    position: relative;
    width: 450px;
    top: -855px;
    left: 480px;
}

.overview > div {
    width: 1000px;
    height: 850px;
}

.overview input.close {
    right: -583px;
}