.col1, .col11 {
	width: 4%;
}

.col2 {
	width: 10%;
}

.col3, .col4 {
	width: 11%;
}

.col5, .col8, .col9 {
	width: 8%;
}

.col6 {
    width: 5%;
}

.col7, .col13 {
	width: 7%;
}

.col10, .col12 {
	width: 6%;
}

td:nth-child(1) {
	font-weight: bold;
}

td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
	text-align: left;
}

tr.tablebody:hover {
	background-color: #ffffcc;
	cursor: pointer;
}

svg {
    width: 24px;
    height: 24px;
    fill: #09c;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 5px;
}

svg:hover, svg:active, svg:focus {
    fill: orange;
    cursor: pointer;
}