.col1 {
	width: 4%;
}

td:nth-child(1) {
	font-weight: bold;
}

td:nth-child(2), td:nth-child(3), td:nth-child(5) {
	text-align: left;
}

tr.tablebody:hover {
	background-color: #ffffcc;
	cursor: pointer;
}