.col1 {
	width: 3%;
}

.col2 {
	width: 15%;
}

td:nth-child(2) {
	font-weight: bold;
}

td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
	text-align: left;
}

tr.tablebody:hover {
	background-color: #ffffcc;
	cursor: pointer;
}

textarea#configcvalue {
    width: 99.4%;
    height: 100px;
    padding-bottom: 15px;
}