.col1 {
	width: 4%;
}

.col2 {
	width: 15%;
}

.col3 {
	width: 16%;
}

.col4 {
	width: 7%;
}

.col5 {
	width: 25%;
}

.col6 {
	width: 11%;
}

.col7 {
	width: 17%;
}
.col8 {
	width: 7%;
}

td:nth-child(1) {
	font-weight: bold;
}

td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
	text-align: left;
}

tr.tablebody:hover {
	background-color: #ffffcc;
	cursor: pointer;
}