{# contactlist.jinja2 #}

{% extends "menu.jinja2" %}
{% block title %}{% trans %}contactlist{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('transportorder.static', filename='css/contacts.css') }}">
{% endblock %}
{% block layoutcontent %}
{{ super() }}
<a href="#" onclick="showModal('openModalAddContact','addcontactform');"><svg><title>{% trans %}addcontact{% endtrans%}</title><use href="#plus"/></svg></a>
<table>
<caption>{% trans %}contactlistcaption{% endtrans%}</caption>
<tr>
<th class="col1">{% trans %}placetid{% endtrans%}</th>
<th class="col1">{% trans %}friendlyname{% endtrans%}</th>
<th class="col1">{% trans %}contactid{% endtrans%}</th>
<th class="col2">{% trans %}contactname{% endtrans%}</th>
<th class="col2">{% trans %}contacttel{% endtrans%}</th>
<th class="col2">{% trans %}contactemail{% endtrans%}</th>
</tr>

{% for row in rows %}
<tr class="tablebody" onclick="getSingleData(event, 'contact')">
<td class="col1" data-record-id={{row["contactid"]}}>{{ row["placeid"] }}</td>
<td class="col1" data-record-id={{row["contactid"]}}>{{ row.places["friendlyname"] }}</td>
<td class="col1" data-record-id={{row["contactid"]}}>{{ row["contactid"] }}</td>
<td class="col2" data-record-id={{row["contactid"]}}>{{ row["contactname"] }}</td>
<td class="col2" data-record-id={{row["contactid"]}}>{{ row["contacttel"] }}</td>
<td class="col2" data-record-id={{row["contactid"]}}>{{ row["contactemail"] }}</td>
</tr>
{% endfor %}
</table>

<div id="openModalAddContact" class="modalDialog">
    <div>
    <div class="formpage">
        <h2>{% trans %}addcontact{% endtrans%}</h2>
        <form id="addcontactform" method="POST" action="{{ url_for('transportorder.addcontact') }}"">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			<input type="reset" form="addcontactform" value="X" class="close" onclick="closeModal('openModalAddContact','addcontactform');">
			{% for field in addcontactform %}{{ render_field_div(field) }}{% endfor %}
        </form>
    </div>
    </div>
</div>


<div id="openModalEditContact" class="modalDialog">
    <div>
    <div class="formpage">
        <h2>{% trans %}editcontact{% endtrans%}</h2>
        <form id="editcontactform" method="POST" action="{{ url_for('transportorder.editcontact') }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
            <input type="reset" form="editcontactform" value="X" class="close" onclick="closeModal('openModalEditContact', 'editcontactform');"> 
            {% for field in editcontactform %}{{ render_field_div(field) }}{% endfor %}
        </form>
    </div>
    </div>
</div>
{% endblock %}