{# form.html #}

{% extends "userlist.html" %}

{% block form %}
{{ super() }}
<div id="openModalEditUser" class="modalDialog">
		<div>
			<div class="formpage">	
		<a href="#close" title="Close" class="close">X</a>

    {% from "_formhelpers.html" import render_field %}
    <form id="edituserform" method=post action="/userlist">
    <ul>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
        {{ render_field(form.name) }}
        {{ render_field(form.surname) }}
        {{ render_field(form.tel) }}
        {{ render_field(form.username) }}
        {{ render_field(form.admin) }}
        {{ render_field(form.approver) }}
        {{ render_field(form.deleted) }}
    </ul>
</div>
</div>
</div>
</form>
{% endblock %}