{# haulerslist.jinja2 #}

{% extends "menu.jinja2" %}
{% block title %}{% trans %}haulerslist{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('transportorder.static', filename='css/haulerslist.css') }}">
{% endblock %}
{% block layoutcontent %}
{{ super() }}
<a href="#" onclick="showModal('openModalPickHauler','pickhaulerform');"><svg><title>{% trans %}addhauler{% endtrans%}</title><use href="#plus"/></svg></a>
<table>
<caption>{% trans %}haulerslistcaption{% endtrans%}</caption>
<tr>
<th class="col1">{% trans %}placeid{% endtrans%}</th>
<th class="col2">{% trans %}friendlyname{% endtrans%}</th>
<th class="col3">{% trans %}name{% endtrans%}</th>
<th class="col13">{% trans %}hauler{% endtrans%}</th>
<th class="col13">{% trans %}deleted{% endtrans%}</th>

</tr>

{% for row in rows %}
<tr class="tablebody" onclick="getSingleData(event, 'hauler')">
<td class="col1" data-record-id={{row["placeid"]}}>{{row["placeid"]}}</td>
<td class="col2" data-record-id={{row["placeid"]}}>{{row["friendlyname"]}}</td>
<td class="col3" data-record-id={{row["placeid"]}}>{{row["name"]}}</td>
<td class="col13" data-record-id={{row["placeid"]}}>{{row["hauler"]}}</td>
<td class="col13" data-record-id={{row["placeid"]}}>{{row["deleted"]}}</td>
</tr>
{% endfor %}
</table>
<div id="openModalPickHauler" class="modalDialog">
    <div>
    <div class="formpage">
        <h2>{% trans %}editplace{% endtrans%}</h2>
        <form id="pickhaulerform" method="POST" action="{{ url_for('transportorder.pickhaulers') }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
            <input type="reset" form="pickhaulerform" value="X" class="close" onclick="closeModal('openModalPickHauler', 'pickhaulerform');"> 
            {% for field in form %}{{ render_field_div(field) }}{% endfor %}
        </form>
    </div>
    </div>
</div>
{% endblock %}