{# userlist.jinja2 #}

{% extends "menu.jinja2" %}
{% block title %}{% trans %}manual{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('transportorder.static', filename='css/manual.css') }}">
{% endblock %}
{% block layoutcontent %}
{{ super() }}



<h1>Manual a FNQ</h1>
<dl>
<dt>Proces poptávek:</dt>
    <ol>
    <li>Vytvoření poptávky; Zároveň odchází email na poptávané společnosti</li>
    <li>Založí se záznam v otevřených poptávkách</li>
    <li>Zde lze poptávku zrušit (odchází email na zúčastněné) nebo zadat vítěze a pokračovat ve schvalovacím procesu</li>
    <li>Po zadání vítěze poptávky</li>
        <ul>
        <li>V případě, ze cena objednávky je nižší než určená hodnota (viz schvalovací matice) a uživatel, ketrý poptávku vytvořil má roli MC je poptávka odeslána na vítěze jako objednávka a zde 
        končí tento proces.</li>
        <li>Jinak, se poptávka postoupí ke schválení na CC manažery. Zároveň na ně odchází upozorňovací email.</li>
        </ul>

    <li>Pokud je hodnota poptávky nižší než schvalovací možnosti CC (cost center) manažera, tento poptávku musí schválit nebo zamítnout. Po schálení odchází objednávka na vítěze a informační email na další 
    zúčastněné subjekty. Při zrušení objednávky odchazí informačný email na všechny zúčastněné.</li>
    <li>Pokud je hodnota poptávky vyšší než schvalovací možnosti CC manažera, musí být ještě schvaleno business controllerem (dle prokury)</li>
    <li>Zde je konec procesu</li>
    </ol>
</dl>

<dl>
<dt>Změna role uživatele</dt>
<dd>
    <ul>
    <li>V menu vybrat "změna rolí uživatelů"</li>
    <li>Kliknout na vybraného uživatele</li>
    <li>V otevřeném okně vybrat odpovídající roli. Při výběru více rolí držet klavesu Ctrl a klikat na položky a potvrdit OK</li>
    <li>Toto aktalizuje role. Tedy nevybráním žádne role a potvrzením OK, se všechny přiřazené role uživateli vymažou</li>
    </ul>
</dd>
</dl>

<dl>
<dt>Změna přepravce</dt>
<dd>
    <ul>
    <li>V menu vybrat "přepravci"</li>
    <li>Kliknout na ikonu + </li>
    <li>vybrat subjekt a zaškrtnout checkbox "přepravce" a kliknout Aktualizovat</li>
    </ul>
</dd>
</dl>

<dl>
<dt>Změna údajů přepravce</dt>
<dd>
    <ul>
    <li>Nejdříve zrušit přepravce - viz "Změna přepravce" vybrat subjekt a NEZAŠKRNOUT položku přepravce a aktualizovat</li>
    <li>Pak v menu "místa" kliknout na subjekt a upravit detaily</li>
    <li>Vratit se do "změna přepravce" a znovu přidat jako přepravce</li>
    </ul>
</dd>
</dl>

<dl>
<dt>Emailové notifikace</dt>
<dd>
    <ul>
    <li>vytvoření poptávky</li>
    <li>zrušení poptávky</li>
    <li>při ručním procesu schvalování notifikace approver1email a approver2email</li>
    <li>objednávka vítězi a ostatním oznámení</li>
    </ul>
</dd>
</dl>

<dl>
<dt>Uživatelský účet</dt>
<dd>
    <ul>
    <li>pro zadání objednávky musí už existovat</li>
    <li>uživatelský účet si každý může vytvořit sám</li>
    <li>rozhodující je email, ten musíbýt jediněčný</li>
    <li>spravovat další nastavení účtu může superuser -viz menu "uživatelé" a role</li>
    </ul>
</dd>
</dl>

<dl>
<dt>Superuser</dt>
<dd>
    <ul>
    <li>ma přístup do celé aplikace poptávky přepravy a je její správce</li>
    <li>může rovněž může přidat další superusery</li>
    </ul>
</dd>
</dl>

<dt>Automatické schválení poptávky</dt>
<dd>
    <ul>
    <li>cena přepravy je nižší než stanovuje prokura pro schválení CC manažerem</li>
    <li>ten kdo vytvořil poptávku má roli MC</li>
    <li>jako approver je vždy uživatel s roli defaultapprover</li>
    </ul>
</dd>
</dl>

<dt>Důležité role uživatelů</dt>
<dd>
    <ul>
    <li>defaultapprover - musí být přiřazena jednomu a pouze jednomu uživateli</li>
    <li>approver1email - musí být přiřazena alespoň jednomu uživateli</li>
    <li>approver2email - musí být přiřazena alespoň jednomu uživateli</li>
    <li>superuser - doporučuje se alespoň pro jednoho uživatele-správce</li>
    </ul>
</dd>
</dl>


{% endblock %}