{# menu.jinja2 #}

{% extends "layout.jinja2" %}
{% block favicon %}<link rel=icon href="{{ url_for('transportorder.static', filename='images/favicon.png') }}" sizes="16x16" type="image/png">{% endblock %}
{% block stylesheet %}{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('transportorder.static', filename='css/menu.css') }}">{% endblock %}
{% block jscript %}{{ super() }}
    <script type="text/javascript" src="{{ url_for('transportorder.static', filename='js/transport.js') }}"></script>	
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	$(document).ready(function(){
		$("select.pickupPlace").change(function(){ var selectedPlace = $(this).children("option:selected").val(); });
	});
</script>
{% endblock %}
{% block layoutcontent %}
<header id="sideBar">
	<a href="#" onclick="showMenu()"><svg id="menusvg"><use href="#menu"/></svg></a>
	<h2>{% trans %}transportorder{% endtrans%}</h2>
	<nav>
		<ul id="mainMenu">
			<li class="current"><a href="{{ url_for('transportorder.order') }}" rel="bookmark">{% trans %}orderrfq{% endtrans%}</a></li>
			<li class=""><a href="{{ url_for('transportorder.orderlist') }}" rel="bookmark">{% trans %}openorderlist{% endtrans%}</a></li>
            <li class=""><a href="{{ url_for('transportorder.approveorderlist') }}" rel="bookmark">{% trans %}approveorderlist{% endtrans%}</a></li>
            <li class=""><a href="{{ url_for('transportorder.approveorderlistbc') }}" rel="bookmark">{% trans %}approveorderlistbc{% endtrans%}</a></li>
            <li class=""><a href="{{ url_for('transportorder.vieworderslist') }}" rel="bookmark">{% trans %}orderlist{% endtrans%}</a></li>
			<li class=""><a href="{{ url_for('transportorder.userlist') }}" rel="bookmark">{% trans %}userlist{% endtrans%}</a></li>
			<li class=""><a href="{{ url_for('transportorder.places') }}" rel="bookmark">{% trans %}placeslist{% endtrans%}</a></li>
            <li class=""><a href="{{ url_for('transportorder.contactlist') }}" rel="bookmark">{% trans %}contactlist{% endtrans%}</a></li>
            <li class=""><a href="{{ url_for('transportorder.haulerslist') }}" rel="bookmark">{% trans %}haulerslist{% endtrans%}</a></li>
            <li class=""><a href="{{ url_for('transportorder.roleslist') }}" rel="bookmark">{% trans %}promoteuser{% endtrans%}</a></li>
            <li class=""><a href="{{ url_for('transportorder.transportconfig') }}" rel="bookmark">{% trans %}transportconfig{% endtrans%}</a></li>
            <li class=""><a href="{{ url_for('download', filename='''report.xlsx''') }}" rel="bookmark">{% trans %}excelreport{% endtrans%}</a></li>
            <li class=""><a href="{{ url_for('transportorder.manual') }}" rel="bookmark">{% trans %}manual{% endtrans%}</a></li>
		</ul>		
   </nav>
</header>
{% endblock %}

