{# orders.jinja2 #}

{% extends "menu.jinja2" %}
{% block title %}{% trans %}vieworderslist{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('transportorder.static', filename='css/orders.css') }}">
{% endblock %}
{% block layoutcontent %}
{{ super() }}
<table>
<caption>{% trans %}vieworderslistcaption{% endtrans%}</caption>
<tr>
<th class="col1">{% trans %}orderid{% endtrans%}</th>
<th class="col2">{% trans %}orderCreationDate{% endtrans%}</th>
<th class="col3">{% trans %}username{% endtrans%}</th>
<th class="col6">{% trans %}ordertitle{% endtrans%}</th>
<th class="col7">{% trans %}ordernotes{% endtrans%}</th>
<th class="col8">{% trans %}hauler{% endtrans%}</th>
<th class="col9">{% trans %}price{% endtrans%}</th>
<th class="col9">{% trans %}orderApprovalDate1{% endtrans%}</th>
<th class="col9">{% trans %}orderApprovalDate2{% endtrans%}</th>
<th class="col9">{% trans %}orderCancelationDate{% endtrans%}</th>
</tr>

{% for row in rows %}
<tr class="tablebody" onclick="getSingleData(event, 'orderview');">
<td class="col1" data-record-id={{ row['orderid'] }}>{{ row['orderid'] }}</td>
<td class="col2" data-record-id={{ row['orderid'] }}>{{ row['orderCreationDate'].strftime('%d-%m-%Y') }}</td>
<td class="col3" data-record-id={{ row['orderid'] }}>{{ row.users['name'] }} {{ row.users['surname'] }}</td>
<td class="col6" data-record-id={{ row['orderid'] }}>{{ row['orderTitle'] }}</td>
<td class="col7" data-record-id={{ row['orderid'] }}>{{ row['orderNotes'] }}</td>
<td class="col8" data-record-id={{ row['orderid'] }}>{{ row.transportWinners['friendlyname'] }}</td>
{% if row['orderApprovalDate1'] is none %}
<td class="col4" data-record-id={{ row['orderid'] }}></td>
{% else %}
<td class="col9" data-record-id={{ row['orderid'] }}>{{ row['price'] }} {{ row['currency'] }}</td>
{% endif %}
{% if row['orderApprovalDate1'] is none %}
<td class="col4" data-record-id={{ row['orderid'] }}></td>
{% else %}
<td class="col4" data-record-id={{ row['orderid'] }}>{{ row['orderApprovalDate1'].strftime('%d-%m-%Y') }}</td>
{% endif %}
{% if row['orderApprovalDate2'] is none %}
<td class="col4" data-record-id={{ row['orderid'] }}></td>
{% else %}
<td class="col4" data-record-id={{ row['orderid'] }}>{{ row['orderApprovalDate2'].strftime('%d-%m-%Y') }}</td>
{% endif %}
{% if row['orderCancelationDate'] is none %}
<td class="col4" data-record-id={{ row['orderid'] }}></td>
{% else %}
<td class="col4" data-record-id={{ row['orderid'] }}>{{ row['orderCancelationDate'].strftime('%d-%m-%Y') }}</td>
{% endif %}
</tr>
{% endfor %}
</table>
<div id="openModalViewOrder" class="modalDialog overview">
    <div>
    <div class="formpage">
        <h2>{% trans %}orderrfq{% endtrans%}:<span id="orderrfqnumber"></span></h2>
        <div id='vieworder'>
        <input type="reset" value="X" class="close" onclick="closeModal('openModalViewOrder','vieworder');location.reload()">
        <div id="orderstrdata"></div>
        </div>
    </div>
    </div>
</div>
{% endblock %}