{# order.jinja2 #}

{% extends "menu.jinja2" %}
{% block title %}{% trans %}transportorder{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('transportorder.static', filename='css/order.css') }}">{% endblock %}
{% block layoutcontent %}
{{ super() }}
<h2 class="h2header">{% trans %}orderrfq{% endtrans%}</h2>
<form name="transportform" id="transport" method="post" action="{{ url_for('transportorder.order') }}">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">	
    <fieldset id="orderheader">
		{{ render_field_div_reversed(form.orderTitle) }}
		{{ render_field_div_reversed(form.orderUser) }}
	</fieldset>	
	<fieldset id="pickupplace">
		<legend>{% trans %}pickupplace{% endtrans%}</legend>
		{{ render_field_div_reversed(form.pickupDate) }}
		{{ render_field_div_reversed(form.pickupPlace, onChange="getPlaceData(event, 'pickup');") }}
		{{ render_modal_field(form.pickupPlaceInfo) }}
		{{ render_field_div_reversed(form.pickupContact, onChange="getPlaceContactData(event, 'pickup');")  }}
		{{ render_modal_field(form.pickupContactInfo) }}
	</fieldset>
	<fieldset id="deliveryplace">
		<legend>{% trans %}deliveryplace{% endtrans%}</legend>
		{{ render_field_div_reversed(form.deliveryDate) }}
		{{ render_field_div_reversed(form.deliveryPlace, onChange="getPlaceData(event, 'delivery');") }}
		{{ render_modal_field(form.deliveryPlaceInfo) }}
		{{ render_field_div_reversed(form.deliveryContact, onChange="getPlaceContactData(event, 'delivery');") }}
		{{ render_modal_field(form.deliveryContactInfo) }}
	</fieldset>
	<fieldset id="orderitems">
		<legend>{% trans %}transportitems{% endtrans%}</legend>
			<a onclick="showModal('openModalAddItem','additemform');"><svg class="order"><title>{% trans %}additem{% endtrans%}</title><use href="#plus"/></svg></a>
			<table id="tableofitems">
			<tr>
			<th class="col1">{% trans %}itemdescription{% endtrans%}</th>
			<th class="col2">{% trans %}pieces{% endtrans%}</th>
			<th class="col3">{% trans %}width_m{% endtrans%}</th>
			<th class="col4">{% trans %}length_m{% endtrans%}</th>
			<th class="col5">{% trans %}height_m{% endtrans%}</th>
			<th class="col6">{% trans %}weight_kg{% endtrans%}</th>
			<th class="col7">{% trans %}goodsType{% endtrans%}</th>
			<th class="col8">{% trans %}stackable{% endtrans%}</th>
			<th class="col9">{% trans %}remove{% endtrans%}</th>
			</tr>
			</table>
	</fieldset>
	{{ render_field_div_reversed(form.orderNotes) }}
	{{ render_field_div(form.submit) }}
</form>
<div id="openModalAddItem" class="modalDialog">
    <div>
    <div class="formpage">
        <h2>{% trans %}additem{% endtrans%}</h2>
    
        <form id="additemform" method="GET">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			<input type="reset" form="additemform" value="X" class="close" onclick="closeModal('openModalAddItem','additemform');">
			{% for field in formitems %}{{ render_field_div(field) }}{% endfor %}
			<input type="button" form="additemform" value="{% trans %}add{% endtrans%}" class="commonSubmit" onclick="validate(event);">
        </form>
    </div>
    </div>
</div>
{% endblock %}
