{# places.jinja2 #}

{% extends "menu.jinja2" %}
{% block title %}{% trans %}userlist{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('transportorder.static', filename='css/placelist.css') }}">
{% endblock %}
{% block layoutcontent %}
{{ super() }}
<a href="#" onclick="showModal('openModalAddPlaces','addplaceform');"><svg><title>{% trans %}addplace{% endtrans%}</title><use href="#plus"/></svg></a>
<table>
<caption>{% trans %}placelistcaption{% endtrans%}</caption>
<tr>
<th class="col1">{% trans %}placeid{% endtrans%}</th>
<th class="col2">{% trans %}friendlyname{% endtrans%}</th>
<th class="col3">{% trans %}name{% endtrans%}</th>
<th class="col4">{% trans %}name2{% endtrans%}</th>
<th class="col5">{% trans %}address1{% endtrans%}</th>
<th class="col6">{% trans %}streetnumber{% endtrans%}</th>
<th class="col7">{% trans %}address2{% endtrans%}</th>
<th class="col8">{% trans %}area{% endtrans%}</th>
<th class="col9">{% trans %}city{% endtrans%}</th>
<th class="col10">{% trans %}zip{% endtrans%}</th>
<th class="col11">{% trans %}countryname{% endtrans%}</th>
<th class="col12">{% trans %}continentname{% endtrans%}</th>
<th class="col13">{% trans %}hauler{% endtrans%}</th>
</tr>

{% for row in rows %}
<tr class="tablebody" onclick="getSingleData(event, 'placeslist')">
<td class="col1" data-record-id={{row["placeid"]}}>{{row["placeid"]}}</td>
<td class="col2" data-record-id={{row["placeid"]}}>{{row["friendlyname"]}}</td>
<td class="col3" data-record-id={{row["placeid"]}}>{{row["name"]}}</td>
<td class="col4" data-record-id={{row["placeid"]}}>{{row["name2"]}}</td>
<td class="col5" data-record-id={{row["placeid"]}}>{{row["address1"]}}</td>
<td class="col6" data-record-id={{row["placeid"]}}>{{row["streetnumber"]}}</td>
<td class="col7" data-record-id={{row["placeid"]}}>{{row["address2"]}}</td>
<td class="col8" data-record-id={{row["placeid"]}}>{{row["area"]}}</td>
<td class="col9" data-record-id={{row["placeid"]}}>{{row["city"]}}</td>
<td class="col10" data-record-id={{row["placeid"]}}>{{row["zip"]}}</td>
<td class="col11" data-record-id={{row["placeid"]}}>{{row.countries["iso3166alpha3"]}}</td>
<td class="col12" data-record-id={{row["placeid"]}}>{{row.countries.continents["continentname"]}}</td>
<td class="col13" data-record-id={{row["placeid"]}}>{{row["hauler"]}}</td>
</tr>
{% endfor %}
</table>
<div id="openModalAddPlaces" class="modalDialog">
    <div>
    <div class="formpage">
        <h2>{% trans %}addplace{% endtrans%}</h2>
        <form id="addplaceform" method="POST" action="{{ url_for('transportorder.addplace') }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
            <input type="reset" form="addplaceform" value="X" class="close" onclick="closeModal('openModalAddPlaces', 'addplaceform');"> 
            {% for field in addplaceform %}{{ render_field_div(field) }}{% endfor %}
        </form>
    </div>
    </div>
</div>
<div id="openModalEditPlace" class="modalDialog">
    <div>
    <div class="formpage">
        <h2>{% trans %}editplace{% endtrans%}</h2>
        <form id="editplaceform" method="POST" action="{{ url_for('transportorder.updateplace') }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
            <input type="reset" form="editplaceform" value="X" class="close" onclick="closeModal('openModalEditPlace', 'editplaceform');"> 
            {% for field in form %}{{ render_field_div(field) }}{% endfor %}
        </form>
    </div>
    </div>
</div>
{% endblock %}