{# roleslist.jinja2 #}

{% extends "menu.jinja2" %}
{% block title %}{% trans %}userroles{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('transportorder.static', filename='css/roleslist.css') }}">
{% endblock %}
{% block layoutcontent %}
{{ super() }}
<table>
<caption>{% trans %}userrolecaption{% endtrans%}</caption>
<tr>
<th class="col1">{% trans %}userid{% endtrans%}</th>
<th class="col2">{% trans %}lastname{% endtrans%}</th>
<th class="col2">{% trans %}name{% endtrans%}</th>
<th class="col4">{% trans %}deleted{% endtrans%}</th>
<th class="col4">{% trans %}role{% endtrans%}</th>
</tr>
{% for row in rows %}
<tr class="tablebody" onclick="getSingleData(event, 'roles');">
<td class="col1" data-record-id={{row["userid"]}}>{{row["userid"]}}</td>
<td class="col1" data-record-id={{row["userid"]}}>{{row["surname"]}}</td>
<td class="col2" data-record-id={{row["userid"]}}>{{row["name"]}}</td>
<td class="col4" data-record-id={{row["userid"]}}>{{row["deleted"]}}</td>
{% if row.roles %}
    {% set rolenames = namespace(rn="") %}
    {% for role in row.roles %}
        {% set rolenames.rn = rolenames.rn + " " + role.rolename %}
    {% endfor %}
    <td class="col7" data-record-id={{row["userid"]}}>{{ rolenames.rn }}</td>
{% else %}
    <td class="col7" data-record-id={{row["userid"]}}>&nbsp;</td>
{% endif %}
{% endfor %}
</table>

<div id="openModalEditRoles" class="modalDialog">
    <div>
    <div class="formpage">
        <h2>{% trans %}edituser{% endtrans%}</h2>
        <form id="editrolesform" method="POST" action="{{ url_for('transportorder.changerole') }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <input type="reset" form="editrolesform" value="X" class="close" onclick="closeModal('openModalEditRoles','editrolesform');">
            {% for field in rolesform %}{{ render_field_div(field) }}{% endfor %}
        </form>
    </div>
    </div>
</div>
{% endblock %}