{# transportconfig.jinja2 #}

{% extends "menu.jinja2" %}
{% block title %}{% trans %}settings{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('transportorder.static', filename='css/transportconfig.css') }}">
{% endblock %}
{% block layoutcontent %}
{{ super() }}
<table>
<caption>{% trans %}settingscaption{% endtrans%}</caption>
<tr>
<th class="col1">{% trans %}id{% endtrans%}</th>
<th class="col2">{% trans %}name{% endtrans%}</th>
<th class="col3">{% trans %}value{% endtrans%}</th>
</tr>

{% for row in rows %}
<tr class="tablebody" onclick="getSingleData(event, 'config');">
<td class="col1" data-record-id={{row["cid"]}}>{{row["cid"]}}</td>
<td class="col2" data-record-id={{row["cid"]}}>{{row["clabel"]}}</td>
<td class="col3" data-record-id={{row["cid"]}}>{{row["cvalue"]}}</td>
</tr>
{% endfor %}
</table>

<div id="openModalChangeSettings" class="modalDialog">
    <div>
    <div class="formpage">
        <h2>{% trans %}changesettings{% endtrans%}</h2>
        <form id="changeform" method="POST" action="{{ url_for('transportorder.transportconfigchange') }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <input type="reset" form="changeform" value="X" class="close" onclick="closeModal('openModalChangeSettings','changeform');">
            {% for field in changeform %}{{ render_field_div(field) }}{% endfor %}
        </form>
    </div>
    </div>
</div>
{% endblock %}