{# observation.jinja2 #}

{% extends "layout.jinja2" %}
{% block title %}{% trans %}titleobserv{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('observation.static', filename='css/observation.css') }}">
{% endblock %}
{% block jscript %}{{ super() }}
<script type="text/javascript" src="{{ url_for('observation.static', filename='js/observation.js') }}"></script>
{% endblock %}
{% block layoutcontent %}
{{ super() }}
<h1>{% trans %}maintitle{% endtrans%}</h1>
<h2>{% trans %}mainsubtitle{% endtrans%}</h2>
{% from "_formhelpers.jinja2" import render_field_div_reversed, render_field_div %}
<form name="observation" method="post" action="{{ url_for('observation.observation') }}">
          {{ form.csrf_token }}
          <fieldset id=first>
              <fieldset class="fleft">
                  {{ render_field_div_reversed(form.name, class="required") }}
                  {{ render_field_div_reversed(form.lastname) }}
				  {{ render_field_div_reversed(form.locationpick) }}
                  {{ render_field_div_reversed(form.location) }}
              </fieldset>
              <fieldset class="fright"> 
                  {{ render_field_div(form.safeact) }}
                  {{ render_field_div(form.unsafeact) }}
                  {{ render_field_div(form.unsafecondition) }}
                  {{ render_field_div(form.nearmiss) }}
                  {{ render_field_div(form.qualityfault) }}
                  {{ render_field_div(form.environmentalissue) }}
              </fieldset>
          </fieldset>
          <fieldset id="third">
              {{ render_field_div_reversed(form.observed) }}
              {{ render_field_div_reversed(form.risclevel) }}
              {{ render_field_div(form.EDW) }}
              {{ render_field_div(form.guest) }}
              {{ render_field_div_reversed(form.actiontaken) }}
              {{ render_field_div_reversed(form.escalation, onchange="autoDisableElement(this.id)") }}
			  {{ render_field_div_reversed(form.howandwhoto, disabled=true) }}
              {{ render_field_div_reversed(form.rootcause) }}
          </fieldset>
          <fieldset id="findingcategory">
          <legend>{% trans %}findingcategory{% endtrans%}</legend>
			  <fieldset class="fleft">
			      {{ render_field_div(form.chemicalcontact) }}
			      {{ render_field_div(form.crushing) }}
			      {{ render_field_div(form.cuttingsevering) }}
			      {{ render_field_div(form.drawingintrapping) }}
			      {{ render_field_div(form.electricity) }}
			      {{ render_field_div(form.entanglement) }}
			      {{ render_field_div(form.fall) }}
			      {{ render_field_div(form.fallingobject) }}
			      {{ render_field_div(form.frictionabrasion) }}
			      {{ render_field_div(form.hazardousenergyexposure) }}
			      {{ render_field_div(form.highpresurefluidinjection) }}
			      {{ render_field_div(form.impact) }}
			  </fieldset>
			  <fieldset class="fright">
			      {{ render_field_div(form.na) }}
			      {{ render_field_div(form.noise) }}
			      {{ render_field_div(form.shearing) }}
			      {{ render_field_div(form.slip) }}
			      {{ render_field_div(form.spill) }}
			      {{ render_field_div(form.puncture) }}
			      {{ render_field_div(form.strain) }}
			      {{ render_field_div(form.struck) }}
			      {{ render_field_div(form.suffocation) }}
			      {{ render_field_div(form.thermaleffect) }}
			      {{ render_field_div(form.trip) }}
			      {{ render_field_div(form.vibration) }}
			  </fieldset>
          </fieldset>
          <fieldset id="findinggroup">
          <legend>{% trans %}findinggroup{% endtrans%}</legend>
			  <fieldset class="fleft">
			      {{ render_field_div(form.materialhandling) }}
			      {{ render_field_div(form.ppeusing) }}
			      {{ render_field_div(form.waste) }}
			      {{ render_field_div(form.nosafetyrules) }}
			      {{ render_field_div(form.other) }}
			      {{ render_field_div(form.fireprotection) }}
			  </fieldset>
			  <fieldset class="fright">
			      {{ render_field_div(form.contractor) }}
			      {{ render_field_div(form.wrongstandardisation) }}
			      {{ render_field_div(form.s5s6) }}
			      {{ render_field_div(form.notsolvedrisk) }}
			      {{ render_field_div(form.security) }}
			  </fieldset>
		  </fieldset>
          <fieldset class="lastone">
              {{ render_field_div_reversed(form.othernotes) }}
          </fieldset>
		  {{ render_field_div(form.submit) }}
          <input type="reset" form="observation" value={% trans %}reset{% endtrans %}>
          
</form>

{% endblock %}
